node_modules
dist
out
cli
build
tools
.gitignore
resources/bin
resources/lib
resources/docs/scriptApi
resources/buildInScript
src/renderer/src/views/uds/panel/panel-designer
src/renderer/src/views/ostrace/timeline
src/main/worker/canopen/source