node_modules
dist
out
.DS_Store
*.log*
__pycache__ 
.env.local
build
cache
!/build
.env
.ScriptBuild
resources/docs/scriptApi
resources/lib/kerneldlls/devices_property/*.xml
ecb_cli.exe
resources/examples/**/tsconfig.json
resources/examples/**/*.code-workspace
resources/examples/**/*.html
resources/examples/**/**/*.html
resources/examples/**/**/*.csv
resources/examples/**/**/*.blf
resources/examples/**/**/*.txt
resources/examples/**/**/*.bin
resources/examples/**/**/.claude
*.bak
log.txt
tools/a.bin
tools/a.txt
tools/a.csv

.env.development
doip-certs


# generated lib js and d.ts docs
resources/lib/js/cryptoExt.js
resources/lib/js/cryptoExt.js.map
resources/lib/js/plugin.js
resources/lib/js/plugin.js.map
resources/lib/js/secureAccess.js
resources/lib/js/uds.js
resources/lib/js/uds.js.map
resources/lib/js/utli.js
resources/lib/js/utli.js.map
resources/lib/js/index.js
resources/lib/js/index.js.map
src/main/share/crc.d.ts.html
src/main/share/cryptoExt.d.ts.html
src/main/share/uds.d.ts.html
src/main/share/utli.d.ts.html
src/main/share/index.d.ts.html
# python

resources/python
resources/get-pip.py